mixin video(video)
  a.video-mixin(href=`/videos/${video.id}`)
    if isHeroku
      .video-mixin__thumb(
        style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`,
        crossorigin="anonymous"
      )
    else
      .video-mixin__thumb(
        style=`background-image:url(/${video.thumbUrl});background-size:cover;background-position:center;crossorigin;`
      )
    .video-mixin__data
      if !video.owner.avatarUrl
        .video-mixin__no-avatar
          span= video.owner.name.substring(0, 1)
      else
        if isHeroku
          img.video-mixin__avatar(src=video.owner.avatarUrl, crossorigin)
        else
          img.video-mixin__avatar(src="/" + video.owner.avatarUrl, crossorigin)
      .video-mixin__text
        span.video-mixin__title= video.title
        span.video-mixin__meta #{ video.owner.name }
        .video-mixin__num
          span #{ video.meta.views }&nbsp;views •&nbsp;
          span #{ moment(video.createdAt).fromNow() }
